<div class="col-md-12" id="sign_up_page">
  <div class="col-md-4"></div>
  <div class="col-md-4"><br/><br/><br/><br/><br/>
  
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-signin", :id =>"register" }) do  |f| %>

    <div id="sign_up_reserva">
          <h2 class="form-signin-heading" style="text-align:center;"><%= image_tag "logo2.png" %></h2>
        </div>

      <%= f.text_field :user_name, autofocus: true, :class =>"form-control", :placeholder =>"အမည္", :id =>"text_box" %>
      <%= f.password_field :password, autofocus: true, :class =>"form-control", :placeholder =>"စကားဝွက္", :id =>"text_box" %>
    
      <br/>
      
      <%= f.submit "ဝင္ေရာက္မည္", :class => "btn btn-lg btn-primary btn-block", :style =>"background:#025459;", :role => "button" %>

    <% end %>
    
    <p style="text-align:center;color:white;">www.hnttechs.com မွ ထုတ္လုပ္သည္။</p>
    </div>
    <div class="col-md-4"></div>
</div>

<style>
#reserva_nav{
  display: none;
}
</style>